#border{
    margin:auto;
    width:95vw;
    border:1px solid #F7F7F7;
    background-color: #F7F7F7;
    
}
h1{
    text-align: left;
font: normal normal bold 40px/49px Inter;
letter-spacing: 0px;

}
#top_header{
    background-color:#FFFFFF;
    height: 94px;
    width:95vw;
    display: inline-block;
}
h1{
    padding-left: 100px;
}
#para{
   text-align:right;
   
   
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 100px;
}
#containerpage3{
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  padding-left: 100px;
}
#items{
    width:352px;
    height:360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin:10px;
    text-align: left;


}
#items h3{
    text-align: left;
font: normal normal medium 20px/24px Inter;
letter-spacing: 0px;
color: #00A5EC;
opacity: 1;
padding-left: 35px;

}
/* paris,list,movie,morning,read */
#items:hover {
    
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
  input[type=checkbox] {
    accent-color:#C2C2C2;
  }
  hr{
    border-top: 1px solid #EDEDED;
  }
  #pageno{
    color: #777676;
    position: relative;
    bottom: 8px
  }
  #footer1{
    position: fixed;
    bottom:0px;
    width:100vw;
    height:60px;
    background-color: azure;
    margin: auto;
  }
  #page2{
    height: 250px;
    width: 500px;
    border: 0px solid blue;
    border-radius: 15px;
    background-color: white;
    color: #424242;
    box-shadow: 4px 4px 4px black, -4px -4px 4px black;
    position: absolute;
    top: 35%;
    left: 30%;
    padding: 20px;
  }
  #add-cross {
    height: 60px;
}
#popup-add {
    float: left;
    margin-left: 20px;
}
.popup-cross {
    float:right;
    color: #777676;
}

#popup-text {
    height: 20px;
    width: 450px;
    margin-top: 40px;
}
#popup-button {
    float: right;
    border: 0px;
    height: 25px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #00A5EC;

}
